body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    color: #f9faf8;
    background-color: #1f2937;
    padding-left: 100px;
    padding-right: 100px;

}

.header-logo {
    font-weight: 900;
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: #1f2937;
    color: #f9faf8;
    height: 60px;
}